body {
  background-color: #4abf4a;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
  display: inline-flex;
  font-size: 60px;
  padding-left: 180px;
  padding-right: 300px;
  text-shadow: 2px 2px 10px rgb(28, 28, 28);
  font-family: 'Cinzel Decorative';
  background: #4abf4a;
}

.header-title {
  text-align: center;
}

.navigation {
  text-align: center;
  background-color: #40f440;
  padding: 15px;
}

.nav {
  color: rgb(2, 2, 2);
}

.nav:link {
  text-decoration: none; 
}

.nav:hover {
  background-color: #40f440;
}

li {
  display: inline;
  padding: 60px;
  font-size: 27px;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-family: 'Cinzel Decorative';
}

p {
  font-size: 22px;
}

.welcome-block {
 flex: 60%;
}

.welcome-inblock {
  background-color: #40f440;
  padding: 10px;
  padding-right: 5px;
}

.container {
  display: flex;
  background-color: #4abf4a;

}

.container2 {
  display: flex;
  background-color: #4abf4a;
  flex: 40%;
}

.welcome-box {
  flex: 60%;
  padding: 10px;
}

.fav-box {
  padding: 10px;
  padding-left: 5px;
}

.fav-inblock {
  background-color: #40f440;
  padding: 10px;
  display: block;
  align-items: center;
}

.photos-block {
  text-align: center;
}

.footer {
  background-color: #4abf4a;
  padding: 10px;
  margin-top: 10px;
}

.space {
  background-color: #bcb9b8

  ;
  padding: black;
}
.footer-inblock {
  background-color: #40f440;
  padding: 10px;
}